# top-most EditorConfig file
root = true

[*]
end_of_line = crlf

[*.{asax,vb,cs,cshtml,css,aspx,sql,xml}]
indent_style = tab
indent_size = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.{sql,xml}]
charset = utf-8

[web.config]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false